!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/

    %meta{:content => "I create interfaces, shape brands and craft things for the web. In other words I research what makes people tick, create, break and fix things, try to give design purpose and wrangle with code.", :property => "og:description"}/
    %meta{:content => "http://michieldegraaf.com/assets/images/michieldegraaf-social-img-1.jpg", :property => "og:image"}/
    %meta{:content => "Michiel de Graaf", :property => "og:site_name"}/
    %meta{:content => "Michiel de Graaf - Digital product designer", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://michieldegraaf.com", :property => "og:url"}/

    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "http://michieldegraaf.com", :name => "twitter:url"}/
    %meta{:content => "Michiel de Graaf - Digital product designer", :name => "twitter:title"}/
    %meta{:content => "I create interfaces, shape brands and craft things for the web. In other words I research what makes people tick, create, break and fix things, try to give design purpose and wrangle with code.", :name => "twitter:description"}/
    %meta{:content => "http://michieldegraaf.com/img/michieldegraaf-social-img-1.jpg", :name => "twitter:image"}/
    %meta{:content => "@michieldegraaf", :name => "twitter:site"}/

    %link{:href => "/assets/images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/assets/images/apple-touch-icon.png", :rel => "apple-touch-icon"}/

    = stylesheet_link_tag "application"

    %title= current_page.data.title || "Michiel de Graaf - Designer"

    %script{:src => "https://use.typekit.net/uat0euf.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

  %body{class: page_classes}
    = yield

    = javascript_include_tag "jquery.min.js"
    = javascript_include_tag "jquery.easing.1.3.min.js"
    = javascript_include_tag "application"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-9622756-4"]);
      _gaq.push(["_trackPageview"]);
      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
      })();
